.Button-root {
  border: none;
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 6px 6px #17a3b8 10;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  padding: 0 20px;
  box-sizing: border-box;
  width: fit-content;
  height: 44px;
  min-width: 100px;
  border-radius: 8px;
  outline: none;
  transition: 0.2s ease all;
  &.full-width {
    width: 100%;
  }

  &.primary {
    background-color: #17a3b8;
    color: #fff;
    &:hover {
      background-color: #178fa3;
    }
    &:active {
      background-color: #17a3b8;
    }
    &:disabled {
      background-color: #cbd5e1;
      color: #94a3b8;
      cursor: not-allowed;
    }
  }

  &.secondary {
    background-color: transparent;
    border: 1px solid #17a3b8;
    color: #17a3b8;
    &:hover {
      background-color: #e0f7fa;
    }
    &:disabled {
      background-color: #cbd5e1;
      border: 1px solid #cbd5e1;
      color: #94a3b8;
      cursor: not-allowed;
    }
  }

  &.secondary-white {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    &:hover {
      background-color: #ffffff40;
      color: #fff;
    }
    &:disabled {
      background-color: #cbd5e1;
      color: #94a3b8;
      cursor: not-allowed;
    }
  }

  &.neutral {
    background-color: #f8fafc;
    color: #17a3b8;
    &:hover {
      background-color: #e2e8f0;
    }
  }

  &.text {
    height: fit-content;
    padding: 2px 7px;
    font-weight: 400;
    min-width: auto;
    background-color: transparent;
    color: #17a3b8;
    &:hover {
      background-color: #e2e8f0;
    }
  }

  .Button-start-icon,
  .Button-end-icon {
    display: flex;
  }
  &.has-start-icon {
    padding: 0 20px 0 10px;
  }
  &.has-end-icon {
    padding: 0 10px 0 20px;
  }
  &.has-start-icon.has-end-icon {
    padding: 0 10px;
  }
  &.is-loading {
    color: transparent !important;
    > *:not(.button-spinner) {
      opacity: 0;
    }
  }
}

.button-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.button-spinner .loader {
  z-index: 1;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #e2e8f0;
  border-right-color: #17a3b8;
  animation: button-spinner 1s infinite linear;
}

@keyframes button-spinner {
  to {
    transform: rotate(1turn);
  }
}
