.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	.select-container {
		display: flex;
		gap: 10px;
		align-items: center;
		flex-wrap: wrap;
		.select {
			min-width: 100px;
		}
		.text {
			font-size: 12px;
			font-weight: 500;
			color: #17a3b8;
			white-space: nowrap;
			.bold {
				font-weight: 600;
			}
		}
	}
}
