@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Italic-VariableFont_wdth,wght.ttf")
    format("truetype-variations");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-VariableFont_wdth,wght.ttf")
    format("truetype-variations");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
